<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Wallpaper</key>
	<string>greenforest</string>
	<key>Floor</key>
	<string>floor</string>
	<key>Selectable Cats</key>
	<dict>
		<key>Delphi</key>
		<dict>
			<key>name</key>
			<string>delphi</string>
			<key>skin</key>
			<string>delphi</string>
		</dict>
		<key>Oscar</key>
		<dict>
			<key>name</key>
			<string>oscar</string>
			<key>skin</key>
			<string>oscar</string>
		</dict>
		<key>Timmy</key>
		<dict>
			<key>name</key>
			<string>timmy</string>
			<key>skin</key>
			<string>timmy</string>
		</dict>
	</dict>
	<key>Store</key>
	<dict>
		<key>Categories</key>
		<dict>
			<key>Foods</key>
			<dict>
				<key>fries</key>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Fries</string>
					<key>description</key>
					<string>Fries are yummy.</string>
					<key>image name</key>
					<string>fries</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>burger</key>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>Burger</string>
					<key>description</key>
					<string>MMMMMM burgers.</string>
					<key>image name</key>
					<string>burger</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>hotdog</key>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Hot Dog</string>
					<key>description</key>
					<string>Hot Diggity Dog.</string>
					<key>image name</key>
					<string>hotdog</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
			</dict>
			<key>Decor</key>
			<dict>
				<key>fries</key>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Fries</string>
					<key>description</key>
					<string>Fries are yummy.</string>
					<key>image name</key>
					<string>fries</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>burger</key>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>Burger</string>
					<key>description</key>
					<string>MMMMMM burgers.</string>
					<key>image name</key>
					<string>burger</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>hotdog</key>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Hot Dog</string>
					<key>description</key>
					<string>Hot Diggity Dog.</string>
					<key>image name</key>
					<string>hotdog</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
			</dict>
			<key>Magic</key>
			<dict>
				<key>fries</key>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Fries</string>
					<key>description</key>
					<string>Fries are yummy.</string>
					<key>image name</key>
					<string>fries</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>burger</key>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>Burger</string>
					<key>description</key>
					<string>MMMMMM burgers.</string>
					<key>image name</key>
					<string>burger</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
				<key>hotdog</key>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>Hot Dog</string>
					<key>description</key>
					<string>Hot Diggity Dog.</string>
					<key>image name</key>
					<string>hotdog</string>
					<key>info</key>
					<dict>
						<key>price</key>
						<integer>10</integer>
						<key>calories</key>
						<integer>10</integer>
						<key>regen</key>
						<integer>15</integer>
					</dict>
					<key>owned</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>World</key>
	<data></data>
</dict>
</plist>
