<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Wallpaper</key>
	<string>wallpaper</string>
	<key>Floor</key>
	<string>floor</string>
	<key>Selectable Cats</key>
	<dict>
		<key>Delphi</key>
		<dict>
			<key>name</key>
			<string>delphi</string>
			<key>skin</key>
			<string>delphi</string>
		</dict>
		<key>Oscar</key>
		<dict>
			<key>name</key>
			<string>oscar</string>
			<key>skin</key>
			<string>oscar</string>
		</dict>
	</dict>
	<key>Store</key>
	<dict>
		<key>Categories</key>
		<dict>
			<key>Foods</key>
			<dict>
				<key>fries</key>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Fries</string>
					<key>description</key>
					<string>Fries are yummy.</string>
					<key>price</key>
					<integer>110</integer>
					<key>catories</key>
					<integer>17</integer>
					<key>regen</key>
					<integer>15</integer>
					<key>owned</key>
					<false/>
				</dict>
				<key>burgers</key>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>name</key>
					<string>Burgers</string>
					<key>description</key>
					<string>MMMMMM burgers.</string>
					<key>price</key>
					<integer>10</integer>
					<key>catories</key>
					<integer>10</integer>
					<key>regen</key>
					<integer>15</integer>
					<key>owned</key>
					<false/>
				</dict>
			</dict>
			<key>Decor</key>
			<string>Decor</string>
			<key>Magic</key>
			<string>Magic</string>
		</dict>
	</dict>
	<key>World</key>
	<data></data>
</dict>
</plist>
